@charset "UTF-8";

*{
    box-sizing: border-box;
}
:root{
    --cor-princiapl:#ffffff;
    --cor-secudaria:#e5e5e563;
    --cor-font:#A3A3A3;
    --cor-da-linha:#46464663;
    --cor-da-borda:rgb(250, 229, 229);
    --cor-do-botao:#FFB050;
    --cor-do-botao-endereco:#4894FF;
    --font-principal:"Montserrat", sans-serif;
}
body{
    background-color: var(--cor-secudaria);
}
hr{
  border: none;             
  height: 1px;              
  background-color: var(--cor-da-linha);   
  opacity: 0.3;             
 
}
.cabecalho{
    display: flex;
    align-items: center;
    background-color: var(--cor-secudaria);
}
.cabecalho__imag{
    padding: 2em 1em 1.3em 1em;
}
.cabecalho__titulo__texto{
    font-family: var(--font-principal);
    font-weight: 700;
    font-size: 1.375rem;
    padding-bottom: 0.4em;
}
.cabecalho__texto{
    font-family: var(--font-principal);
    color: var(--cor-font);
    font-weight: 400;
    font-size: 0.875rem;
}
.conteudo__apresetacao__titulo{
    font-family: var(--font-principal);
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5em 0 0.5em 1em;
}
.conteudo__ligacao__container{
    background-color: var(--cor-princiapl);
    margin:  0 1.5em 1em 1.5em;
    border-radius: 8px;
}
.conteudo__ligacao{
    display: flex;
}
.conteudo__imag{
    padding: 1.25em 1em 0 1em;
}
.cabecalho__titulo__pricipal{
    font-family: var(--font-principal);
    font-weight: 700;
    font-size: 0.8rem;
    padding-bottom: 0.5em;
    padding-top: 1.5em;
}
.conteudo__consulta{
    text-decoration: none;
    color: var(--cor-font);
    font-weight: 400;
    font-size: 0.75rem;
}
.conteudo__texto{
    display: flex;
    gap: 8px;
    align-items: center;
}
.conteudo__mensages{
    margin-left: auto;
    padding: 1em 1em 1em 0;
}
.conteudo__ligacao__texto{
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 0.75rem;
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.conteudo__ligacao__botoes{
    display: flex; 
    justify-content: space-between;
}
.conteudo__ligacao__botao__video, .conteudo__ligacao__botao__audio{
    border: 0;
    width: 37vw;
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 0.87rem;
    border-radius: 8px;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    margin-bottom: 1.2em;
    margin-top: 0.3em;
}
.conteudo__ligacao__botao__video{
    background-color: var(--cor-do-botao);
    color: var(--cor-princiapl);
    margin-left: 1em;
}
.conteudo__ligacao__botao__audio{
    background-color: var(--cor-princiapl);
    border: 0.2px solid rgb(250, 229, 229);
    margin-right: 1.2em;
}
.conteudo__localizacao__container{
    background-color: var(--cor-princiapl);
    margin:  0 1.5em 1em 1.5em;
    border-radius: 8px;
}
.conteudo__endereco__inferior{
    display: flex;
    flex-direction: column;
}
.conteudo__ligacao__botao__endereco{
    color: var(--cor-princiapl);
    border: 0;
    background-color: var(--cor-do-botao-endereco);
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 0.87rem;
    border-radius: 8px;
    padding: 1.3em 0 1.3em 0;
    margin: 0.3em 1.1em 1.1em 1.1em;
}